<div class="container-fluid">
  <img src="/assets/logo.gif" alt="">
  <ul class="nav nav-pills">
    <li role="home" class="text-center"><a href="">Home</a></li>
    <li class="dropdown" class="text-center"><a class="dropdown-toggle" data-toggle="dropdown" routerLink="/galery">Artwork</a>
      <ul class="dropdown-menu">
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </li>
    <li role="news" class="text-center"><a routerLink="/news">News</a></li>
    <li role="presentation" class="text-center"><a routerLink="/presentation">Présentation</a></li>
    <li role="contact" class="text-center"><a routerLink="/contact">Contact</a></li>
  </ul>


</div>
