ul{
  float:right;
  margin-top: 20px;
  margin-right: 20px;
}
img{
  margin-left:30px;
  width: 125px;
  margin-top: 35px;
}

ul li a {
  color: black;
  font-size: 20px;
  font-family: "Marcellus SC";
}
ul li a:hover{
  text-decoration: underline;
  background-color: transparent;
}
